.MainArea {
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px;
  overflow: scroll;
}
.popular-movies-row {
  height: inherit;
}
