.MainArea {
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px;
  overflow: scroll;
}
.carousel {
  min-height: 350px;
  flex-wrap: wrap;
}
.carousel-div {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 100%;
}
.carousel-item {
}
.carousel-row {
  width: 100%;
}
