.MovieCard {
  width: 18rem;
  height: 17rem;
  overflow: hidden;
}
.movieTitle {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.MovieCard .overview {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}
.MovieCard:hover .overview {
  transform: translateY(0);
  overflow-y: scroll;
  padding: 10px;
}
.MovieCard p {
  font-size: 12px;
  font-weight: 300;
}
.MovieCard h5 {
  font-weight: 400;
  font-size: 16px;
}
.MovieCard span {
  background-color: var(--secondary-color);
  padding: 5px;
  height: fit-content;
  min-width: 40px;
  text-align: center;
  font-weight: 300;
}
.ratingClass-green {
  color: lightgreen;
}
.ratingClass-orange {
  color: orange;
}
.ratingClass-red {
  color: red;
}
.trailer-button {
  background-color: var(--secondary-color);
  font-size: 15px;
  font-weight: 300;
}
.trailer-button:hover {
  background-color: var(--primary-color);
}
